/* Putting this here because I accidently deleted it last time. :\ */

#chat-button {
    left: 0;
    width: 50px;
}
#users-button {
    left: 50px;
    width: 85px;
}
#waitlist-button {
    left: 135px;
    width: 100px;
}
#friends-button {
    left: 236px;
    width: 50px;
}

#omega-menu-button {
    left: 287px;
    width: 58px;
}

.omega-menu-button-info{
    top:18px;
    position: relative;
}

#omega-menu .header {
    top:0;
    left:0;
    width: 100%;
    height: 50px;
    position: relative;
}

#omega-menu .header .title {
    position: relative;
    top: 11px;
    margin-left: 17px;
    font-size: 18px;
}

.omega-menu-item{
    cursor:pointer !important;
    width:100%;
    height:30px;
    position: relative;
}

.omega-menu-icon{
    top:7px;
    left:12px;
    display: none;
}


.omega-menu-span{
    left:35px !important;
    top:5px;
    position:relative;
}

.omega-item:hover {
    opacity: 1;
     transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
}
